body, .header, .wrapper{
    background: #f0f5f3;
}

code{
    background: #272822;
    color: #e8e6e3;
}

p {
    margin: 0.5rem auto 1rem auto;
    font-size: 1rem;
}

h2 {
    margin: 1rem auto 0.25rem auto;
    padding: 0.4em 0 0.4em 1em;
    border-left: solid;
    border-color: #678;
    background: #dde;
}

h3 {
    margin: 1rem auto 0.25rem auto;
    padding: 0.4em 0 0.4em 1em;
}

.btn{
    color: #4a4a4a;
    background: #f8f8f8;
    filter: drop-shadow(0.1em 0.1em 0.2em #cdcde6);
}

kbd{
    border-radius: 0.25em;
    color: #4a4a4a;
    background: #e8e6e3;
    border: 1px solid #678;
    filter: drop-shadow(1px 1px 1px #cdcde6);
}

svg.icon{
    fill: currentColor;
}

p + a img, p + h2{
    margin: 3rem auto 0.5rem auto;
}

img {
    margin: 0.5rem auto
}

h2.list__title{
    background: none;
    border-left: none;
}

figure>figcaption{
    text-align: center;
}

canvas{
    width: 100%;
}

div.primary{
    flex: 4 1 30em;
}
aside.sidebar{
    flex: 1 0 10em;
}

.container{
    max-width: 1440px;
}

svg .color-mode{
    fill: #131516;
}

svg line.color-mode{
    stroke: #131516;
}

@media (prefers-color-scheme: dark) {
    body, .header, .wrapper{
        background: #131516;
    }
    
    h1, h2, h3, h4, h5, h6, p, body, .logo__title, .logo__tagline{
        color: #e8e6e3
    }
    
    figcaption, a{
        color: #d8d4cf
    }
    
    .widget-search__form{
        background-color: #1e2021;
    }
    .widget-search__field{
        background-color: #181a1b;
        color: #d8d4cf
    }
    
    h2{
        background: radial-gradient(ellipse farthest-corner at 50% 10%, #304050, #2c3a44 50%, #202c30 80%, #162024);
    }
 
    pre, code{
        border: 1px solid #678
    }

    .btn{
        color:#efefef;
        background: #2a2a2a;
        filter:drop-shadow(0.1em 0.1em 0.2em #000e11)
    }

    .content a, .warning a, .authorbox__description a{
        color:rgb(108, 167, 225)   
    }

    kbd{
        color: #efefef;
        background: #2a2a2a;
        border: 1px solid #4a4a4a;
        filter: drop-shadow(1px 1px 1px #000e11);
    }

    svg .color-mode{
        fill: #e8e6e3;
    }

    svg line.color-mode{
        stroke: #e8e6e3;
    }

}